body{
    background-color: rgba(59,28,60,0.76);
}

.login{
    margin: 15% auto;
    height: 20%;
    width: 30%;
    padding: 16px;
    color: darkslategray;
    display: table;
    background-color: azure;
}
.login__row{
    display: table-row;
    margin: auto;
    height: 40%;
}
.login__cell{
    display: table-cell;
    width: 50%;
    text-align: center;
}
.login__cell input{
    height: 36px;
    width: 80%;
    text-align: center;
}